@model FilmWebsite.Models.Person
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<div class="contactttt">
    <p>Als u contact met WatchNow wil opnemen voor vragen en dergelijke, kunt u ons bereiken via ons e-mailadres en telefoonnummer. Je kan ook een contactformulier verzenden, waarin u uw probleem kan verzenden.</p>
    <p>E-mailadres: WatchNow@gmail.com</p>
    <p>Telefoonnummer: 06 12345678</p>
</div>

<form method="Post" class="contactform">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <input type="submit" value="verstuur" />
</form>