@model FilmWebsite.Database.Film

@{
    ViewData["Title"] = "Film";
}
<h1>@Model.Naam</h1>
<img src="@Model.poster" style="width:500px;height:600px;" />
<div class="detail">
    <p>Beschrijving: @Model.beschrijving</p>
    <p>Cast: @Model.Cast</p>
    <p>Duur: @Model.duur</p>
</div>

